Repository Blaxzter/fastapi-vue-fullstack-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest, check-RMPC-comments, sort-locales

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.4.0
      hooks:
          - id: check-added-large-files
          - id: check-toml
          - id: check-yaml
            args:
                - --unsafe
          - id: end-of-file-fixer
            exclude: |
                (?x)^(
                    frontend/src/client/.*|
                    backend/app/email-templates/build/.*
                )$
          - id: trailing-whitespace
            exclude: ^frontend/src/client/.*
    - repo: https://github.com/charliermarsh/ruff-pre-commit
      rev: v0.2.2
      hooks:
          - id: ruff
            args:
                - --fix
          - id: ruff-format
    - repo: local
      hooks:
          - id: pytest
            name: pytest
            entry: python scripts/pre-commit/run_tests.py
            language: system
            files: ^backend/
            pass_filenames: false

          - id: check-RMPC-comments
            name: Check for RMPC comments
            entry: python scripts/pre-commit/check_remove_comments.py
            language: python
            files: \.py$

          - id: sort-locales
            name: Sort locale JSON files
            entry: node scripts/pre-commit/sort_locales.js
            language: node
            files: ^frontend/src/locales/.*/.*\.json$
            pass_filenames: false

ci:
    autofix_commit_msg: ðŸŽ¨ [pre-commit.ci] Auto format from pre-commit.com hooks
    autoupdate_commit_msg: â¬† [pre-commit.ci] pre-commit autoupdate

feat: Implement template cleanup scripts to remove example content and project/task domain
  .gitignore
  AGENTS.md
  README.md
  backend/.gitignore
  backend/README.md
  justfile
  scripts/cleanup_utils.py
  scripts/remove_examples.py
  scripts/remove_project_task_domain.py
Due: pytest, check-RMPC-comments

Refactor code structure for improved readability and maintainability
  docs/SECURITY.md
  docs/deployment.md
  docs/development-plan.md
  docs/development.md
  release-notes.md
Due: none

fix: update health check endpoint in docker-compose.yml
  docker-compose.yml
Due: none

feat: Update Traefik configuration and improve Auth0 callback URLs for frontend
  docker-compose.traefik.yml
  docker-compose.yml
  docs/AUTH0.md
  frontend/.env.example
  frontend/Dockerfile
  frontend/nginx/default.conf
  frontend/src/layout/PreAuthLayout.vue
  frontend/src/views/preauth/LandingView.vue
  frontend/src/views/projects/ProjectDetailView.vue
  frontend/src/views/projects/ProjectsView.vue
Due: none

feat: Update Dockerfiles and docker-compose for Auth0 integration and improve API endpoint
  backend/Dockerfile
  docker-compose.yml
  frontend/Dockerfile
  frontend/src/views/projects/ProjectsView.vue
Due: pytest

feat: Enhance user creation by seeding demo data and update demo data seeding logic
  backend/app/api/deps.py
  backend/app/scripts/demo/demo_data.py
  docker-compose.yml
Due: pytest, check-RMPC-comments

feat: Add logo assets and implement logo switching in AppLogo and layout components
  frontend/public/favicon.ico
  frontend/src/assets/logo/logo-no-background-black.svg
  frontend/src/assets/logo/logo-no-background-white.svg
  frontend/src/assets/logo/logo.svg
  frontend/src/components/icons/AppLogo.vue
  frontend/src/components/navigation/AppSidebar.vue
  frontend/src/layout/PreAuthLayout.vue
  frontend/src/views/preauth/LandingView.vue
Due: none

feat: Add CLAUDE.md for project guidelines and common commands
  CLAUDE.md
Due: none

feat: Add scripts for Auth0 setup and upstream synchronization
  justfile
  scripts/remove_project_task_domain.py
  scripts/setup_auth0.py
  scripts/sync_upstream.py
Due: check-RMPC-comments

Refactor configuration and deployment setup
  .env.example
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
  .github/workflows/generate-client.yml
  .gitignore
  .pre-commit-config.yaml
  CLAUDE.md
  README.md
  backend/app/core/config.py
  backend/app/scripts/demo/demo_data.py
  copier.yml
  docker-compose.override.yml
  docker-compose.yml
  docs/deployment.md
  frontend/.dockerignore
  frontend/Dockerfile
  frontend/Dockerfile.dev
  justfile
  scripts/pre-commit/run_basedpyright.py
  scripts/setup_auth0.py
Due: pytest, check-RMPC-comments

feat: Bind props explicitly to Sidebar component in AppSidebar
  frontend/src/components/navigation/AppSidebar.vue
Due: none

fix: Update layout classes to use max-w-7xl for consistent styling in PreAuthLayout
  frontend/src/layout/PreAuthLayout.vue
Due: none

feat: Implement account deletion functionality and UI components
  backend/app/alembic/versions/20260131_0001_user_table.py
  backend/app/api/routes/users.py
  backend/app/logic/auth0/auth0_service.py
  backend/app/models/project.py
  backend/app/models/user.py
  frontend/src/components/account/user/DeleteAccountCard.vue
  frontend/src/locales/de/user.json
  frontend/src/locales/en/user.json
  frontend/src/views/UserSettingsView.vue
Due: pytest, check-RMPC-comments, sort-locales
